<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">Estados</div>
    <div class="dx-field-value">
      <dx-select-box
        [items]="estados"
        displayExpr="UF"
        placeholder="Selecione Estado"
        (onValueChanged)="consultaMunicipios($event)"
      ></dx-select-box>
    </div>

    <div class="dx-field-label">Cidade</div>
    <div class="dx-field-value">
      <dx-select-box
        [items]="municipios"
        placeholder="Selecione Cidade"
        displayExpr="name"
        (onValueChanged)="atribuirValorGlobal($event.value.name)"
      ></dx-select-box>
  </div>
</div>
